<button type="button" class="btn btn-outline-secondary mr-2" placement="top" (click)="handleClick('#00bce7')">
    Blue
</button>

<button type="button" class="btn btn-outline-secondary mr-2" placement="right" (click)="handleClick('#68b904')">
    Green
</button>

<button type="button" class="btn btn-outline-secondary mr-2" placement="bottom" (click)="handleClick('#0c9848')">
    Dark Green
</button>

<button type="button" class="btn btn-outline-secondary mr-2" placement="left" (click)="handleClick('#c4202f')">
    Red
</button>